[submodule "f1c200s-linux5.7"]
	path = f1c200s-linux5.7
	url = https://github.com/tsy2001/f1c200s-linux5.7.git
	branch = cd-player-flash
[submodule "f1c200s-uboot"]
	path = f1c200s-uboot
	url = https://github.com/tsy2001/f1c200s-uboot.git
	branch = cdplayer-bsp
[submodule "buildroot-2025.02.9"]
	path = buildroot-2025.02.9
	url = https://github.com/tsy2001/buildroot-2025.02.9.git
